<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Calculator</title>
</head>
<body>
<form action="/calculate" method="post">
    <input type="number" step="any" name="num1" required>
    <select name="operator">
        <option value="add">+</option>
        <option value="subtract">-</option>
        <option value="multiply">*</option>
        <option value="divide">/</option>
    </select>
    <input type="number" step="any" name="num2" required>
    <button type="submit">Calculate</button>
</form>
</body>
</html>
